#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.dark {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
    .footer{
      color:rgba(255, 255, 255, 0.87);
      ;
    }
}

.light {
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
  .footer{
    color: #242424;
  }
  .MuiButton-outlinedPrimary{
    color: #242424 !important;
    border-color:#242424 !important;
    font-size: small !important;
    margin-bottom: 20px !important;
  }
}

.image {
  width: 40px;
  position: fixed;
  cursor: pointer;
  right: 15px;
  top: 15px;
  justify-content: right;
  align-items: right;
  position: absolute;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: gray;
  color: rgb(255, 255, 255,0.87);
  text-align: center;
  font-family: 'Antic Slab', serif;
  height: 20px;
  padding: 10px;
}

.container {
  margin-top: 30%;
  display: grid;
}
.sayac
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
}
.yazi
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 0;
}
@media screen and (max-width: 767px) {
  .container {
    margin-top: 20%;
  }
}
.ikincitur{
  padding-top: 40px;
}
.MuiButton-outlinedPrimary{
  color: rgba(255, 255, 255, 0.87) !important;
  border-color: rgba(255, 255, 255, 0.87) !important;
  font-size: small !important;
  margin-bottom: 20px !important;
}
